@charset "UTF-8";

* {box-sizing: border-box;}

dimmer {
	background-color:#463523c9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

seadimmer {
	background-color:#212e31c9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html, body {
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	margin:0;
	background:url(Kuvat/Kartta.jpg);
	background-size:cover;
	position:relative;
}

content {
	display: flex;
    position: relative;
}

imagearea {
	position:relative;
	display: flex;
	width: 100%;
	height:100vh;
	align-items: center;
	justify-content: center;
	padding:80px 150px 80px 150px;
}

.closeup {
	padding:0;
}

imagearea > img {
	max-width:100%;
	max-height:100%;
	-webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.37);
	cursor: pointer;
}

imagearea.closeup > img {
	position:relative;
	width:100%;
	height:100%;
	object-fit: cover;
}

infoarea {
	position: relative;
    width: 350px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
	flex-shrink: 0;
}

infoheader {
	display: flex;
    align-items: flex-end;
    padding: 20px 20px 0 20px;
	flex-shrink: 0;
}

infobody {
	position:relative;
	overflow-y: scroll;
    display: block;
    padding: 0px 20px 20px 20px;
}


narratorimage {
	display:block;
	width:100px;
	height:100px;
	margin: 0 20px 20px 0;
}

narratortxt {
	font-size:0.8em;
	font-weight:700;
}

imgcredits::before {
	content:"Image ";
	font-weight:700;
}

imgcredits > * {
}

imgtitle, pubtitle {
	font-style:italic;
}

photographer::before {
	content:" Photo: ";
}

imgyear:before {
	content:"(";
}

imgyear:after {
	content:")";
}

spacetime {
	display: flex;
    flex-direction: column;
	margin-bottom:15px;
}

time {
	font-weight:700;
	font-size:1.5em;
}

place {
	font-weight:300;
	font-size:1.1em;
}

imgcredits {
	font-size: 0.8em;
	display:block;
	margin-bottom:5px;
}

txtsource {
	font-size: 0.8em;
	display:block;
}

txtsource::before {
	content: "Text ";
	font-weight:700;
}

page::before {
	content: "p. ";
}

navigationbox {
	position:absolute;
	height:100px;
	background-color:#FC3;
	 top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

closebutton {
	position:absolute;
	top: 0;
    right: 0;
	width:50px;
	height:50px;
	background-color:black;
	color:white;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:2em;
	cursor: pointer;
}

action {
	position:absolute;
	top: 0;
    right: 0;
}

action > svg {
	width:50px;
	height:50px;
	-webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.37);
}

arrowleft, arrowright {
	position: absolute;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 150px;
    opacity: 0.1;
	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

arrowleft:hover, arrowright:hover {
    opacity: 1;
	cursor:pointer;
}

arrowleft {
	left:0;
}

arrowright {
	right:0;
}

arrowleft > svg, arrowright > svg {
	height:100px;
}

navigationbubbles {
	position:absolute;
	bottom:0;
	display:flex;
    align-items: center;
    justify-content: center;
	height:80px;
	width:100%;
    opacity: 0.1;
    transition-duration: 0.5s;
}

navigationbubbles:hover {
	opacity:100;
}

bubble {
	position: relative;
    height: 50px;
    width: 50px;
    overflow: visible;
    margin: 0 7px;
	cursor:pointer;
}

bubble > img {
	position:absolute;
	width:100%;
    height:100%;
	clip-path: circle(25px at center);
    overflow: hidden;
    object-fit: cover;
}

bubble > svg {
	position:absolute;
	overflow: visible;
	width:50px;
	height:50px;
}

circle {
	 cx:25;
	 cy:25;
	 r:25;
	 stroke:white;
	 stroke-width: 2;
	 fill:transparent;
}

bubble > svg > circle:hover {
    stroke-width: 5;
}